# dependencies
node_modules/

# next.js
.next/
out/
build/

# env files（APIキーはここ）
.env
.env*.local

# testing
coverage/
.nyc_output/
.env.test

# misc
.DS_Store
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
